<h1>quesions in exam</h1>
<div class="span2" style="position: fixed; top: 60px; left:-10px">
  <div id="count-down"></div>
</div>
<script type="text/javascript">
  $(function(){
    $("#count-down").countdown({until: '<%= @countdown %>s', format: 'MS', onExpiry: function(){
        $("#new_answers_sheet").submit()
      }
    });
  })    
</script>
<%= form_for @answers_sheet do |f| %>
  <strong><%= "Student: #{@answers_sheet.user.name}" %></strong><br/>
  <strong><%= "Email: #{@answers_sheet.user.email}" %></strong><br/>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :subject_id %>
  <div class="row">
    <ol>
    <%= f.fields_for :answers_sheet_details do |detail_f| %>
      <li>
        <%= detail_f.object.question.name %>
      </li>
       <%= detail_f.hidden_field :question_id %>
	      <%= detail_f.fields_for :user_answers do |u_f| %>
	        <label class="checkbox">
	          <%= u_f.check_box :answer_id, {checked: false}, u_f.object.answer.id, 0 %>
	          <%= u_f.object.answer.name %>
	        </label>
	      <% end %>	  
    <% end %>
    </ol>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>